<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div class="bjui-pageContent">
        <div class="bjui-row col-3">
            <div class="row-input">
                <input type="file" data-name="pic1" data-alertmsg="false" data-toggle="webuploader" data-options="
                        {
                            pick: {label: '点击选择图片'},
                            server: 'file/upload',
                            fileNumLimit: 1,
                            formData: {dir:'custompic'},
                            required: true,
                            uploaded: '',
                            basePath: '',
                            accept: {
                                title: '图片',
                                extensions: 'jpg,png',
                                mimeTypes: '.jpg,.png'
                            }
                        }"
                >
            </div>
            <div class="row-input">
                <input type="file" data-name="custom.pic" data-alertmsg="false" data-toggle="webuploader" data-options="
                        {
                            pick: {label: '点击选择图片'},
                            server: 'file/upload',
                            fileNumLimit: 1,
                            formData: {dir:'custompic'},
                            required: true,
                            uploaded: '',
                            basePath: '',
                            accept: {
                                title: '图片',
                                extensions: 'jpg,png',
                                mimeTypes: '.jpg,.png'
                            }
                        }"
                >
            </div>
            <div class="row-input">
                <input type="file" data-name="custom.pic" data-alertmsg="false" data-toggle="webuploader" data-options="
                        {
                            pick: {label: '点击选择图片'},
                            server: 'file/upload',
                            fileNumLimit: 1,
                            formData: {dir:'custompic'},
                            required: true,
                            uploaded: '',
                            basePath: '',
                            accept: {
                                title: '图片',
                                extensions: 'jpg,png',
                                mimeTypes: '.jpg,.png'
                            }
                        }"
                >
            </div>
        </div>
</div>
</body>
</html>