<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="~{web/fgmt/bjui::bjui_header('商家后台')}">
</head>
<body>
<div th:replace="~{web/fgmt/fragment::page_header}"></div>
<div id="bjui-body-box">
    <div class="container_fluid" id="bjui-body">
        <div th:replace="~{web/fgmt/fragment::page_left}"></div>
        <div id="bjui-navtab" class="tabsPage">
            <div id="bjui-sidenav-btn" data-toggle="tooltip" data-title="显示左侧菜单" data-placement="right">
                <i class="fa fa-bars"></i>
            </div>
            <ul class="tabsMoreList">
                <li><a href="javascript:;">#maintab#</a></li>
            </ul>
            <div class="navtab-panel tabsPageContent">
                <div class="navtabPage unitBox">
                    <div class="bjui-pageContent">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>