<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, userInfo-scalable=no">
    <title>商家注册</title>
    <meta name="renderer" content="webkit">
    <script th:src="@{/js/B-JUI/js/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/B-JUI/js/jquery.cookie.js}"></script>
    <script th:src="@{/js/register.js}"></script>
    <link th:href="@{/js/B-JUI/themes/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common/errorid.css}" rel="stylesheet">
    <link th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body>
<!--[if lte IE 7]>
<div id="errorie">
    <div>您还在使用老掉牙的IE，请升级您的浏览器到 IE8以上版本 <a target="_blank"
                                          href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a
            href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div>
</div>
<![endif]-->
<div class="container">
    <div class="main_box">
        <form th:action="@{/register/pcuser}" id="register_form" method="post">
            <p class="text-center logo"><img th:src="@{/images/login/logo.jpg}" height="65"></p>

            <div style="color: red" class="login_msg text-center" th:text="${#request.getParameter('msg')}"
                 th:if="${not #strings.isEmpty(#request.getParameter('msg'))}"></div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon-name"><span
                            class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control" id="j_name" name="name" value="" placeholder="真实姓名"
                           aria-describedby="sizing-addon-name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon-phone"><span
                            class="glyphicon glyphicon-phone-alt"></span></span>
                    <input type="text" class="form-control" data-rule="mobile" id="j_phone" name="phone"
                           value="" placeholder="手机号码"
                           aria-describedby="sizing-addon-phone">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon-password"><span
                            class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control" id="j_password" name="password" placeholder="密码"
                           aria-describedby="sizing-addon-password">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon-code"><span
                            class="glyphicon glyphicon-exclamation-sign"></span></span>
                    <input type="text" class="form-control" id="j_captcha" name="captcha" placeholder="验证码"
                           aria-describedby="sizing-addon-password">
                    <span class="input-group-addon code" id="basic-addon-code">
                    <img alt="点击更换" title="点击更换" th:src="@{/getGifCode}" id="captcha_img" class="m"></span>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" id="login_ok" class="btn btn-primary btn-lg">&nbsp;注&nbsp;册&nbsp;</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>