<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userInfo">

    <resultMap id="userInfoResult" type="UserInfo">
        <collection property="roles" javaType="ArrayList" column="id" ofType="Role" select="selectRoleForUser"/>
    </resultMap>

    <resultMap id="roleResult" type="Role">
        <collection property="permissions" javaType="ArrayList" column="id" ofType="Permission" select="selectPermissionForRole"/>
    </resultMap>

    <select id="selectPermissionForRole" resultType="Permission">
        SELECT a.* FROM s_permission a LEFT JOIN s_role_permission b ON a.id =b.pid WHERE b.rid = #{id} and a.enable = 1
    </select>

    <select id="selectRoleForUser" resultMap="roleResult">
        SELECT a.* FROM s_role a LEFT JOIN s_user_role b ON a.id =b.`rid` WHERE b.`uid` = #{id} and a.enable = 1
    </select>

    <select id="query"  resultMap="userInfoResult">
        select * from s_user
    </select>

    <select id="getUserInfoByPhone" parameterType="string" resultMap="userInfoResult">
        select * from s_user where phone = #{phone}
    </select>

    <select id="getUserInfoByNumber" parameterType="string" resultMap="userInfoResult">
        select * from s_user where number = #{number}
    </select>

    <insert id="addUser" parameterType="UserInfo">
        INSERT INTO s_user
            (id,
             number,
             name,
             phone,
             role_id,
             area_id,
             sms,
             status_id,
             id_card,
             bank_card,
             alipay_id,
             taobao_id,
             qq,
             writetime,
             photo1,
             photo2,
             photo3,
             password)
           VALUES (#{id},
        #{number},
        #{name},
        #{phone},
        #{roleId},
        #{areaId},
        #{sms},
        #{statusId},
        #{idCard},
        #{bankCard},
        #{alipayId},
        #{taobaoId},
        #{qq},
        #{writetime},
        #{photo1},
        #{photo2},
        #{photo3},
        #{password})
    </insert>

    <update id="editUser" parameterType="UserInfo">
        update  s_user set
        number=#{number},
        phone=#{phone},
        role_id=#{roleId},
        area_id=#{areaId},
        sms=#{sms},
        status_id=#{statusId},
        id_card=#{idCard},
        bank_card=#{bankCard},
        alipay_id=#{alipayId},
        taobao_id=#{taobaoId},
        qq=#{qq},
        writetime=#{writetime},
        photo1=#{photo1},
        photo2=#{photo2},
        photo3=#{photo3},
        password=#{password}
        where id=#{id}
    </update>

    <update id="disableUser" parameterType="string">
        update  s_user set  status_id=4 where phone=#{phone}
    </update>

</mapper>