<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userInfo">

    <select id="getUserInfoByLogin" parameterType="string" resultMap="userInfoResult">
        select * from s_user where number = #{param} or phone = #{param}
    </select>

    <resultMap id="userInfoResult" type="UserInfo">
        <collection property="roles" javaType="ArrayList" column="id" ofType="Role" select="selectRoleForUser"/>
    </resultMap>

    <select id="selectRoleForUser" resultMap="roleResult">
        SELECT a.* FROM s_role a LEFT JOIN s_user_role b ON a.id =b.`rid` WHERE b.`uid` = #{id} and a.enable = 1
    </select>

    <resultMap id="roleResult" type="Role">
        <collection property="permissions" javaType="ArrayList" column="id" ofType="Permission"
                    select="selectPermissionForRole"/>
    </resultMap>

    <select id="selectPermissionForRole" resultType="Permission">
        SELECT a.* FROM s_permission a LEFT JOIN s_role_permission b ON a.id =b.pid WHERE b.rid = #{id} and a.enable = 1
    </select>

    <select id="query" resultMap="userInfoResult">
        select * from s_user
    </select>

    <select id="getUserInfoByPhone" parameterType="string" resultType="UserInfo">
        select * from s_user where phone = #{phone}
    </select>



    <insert id="addUser" parameterType="UserInfo">
        INSERT INTO s_user
            (
             number,
             name,
             phone,
             areaId,
             sms,
             statusId,
             idCard,
             bankCard,
             alipayId,
             taobaoId,
             qq,
             writeTime,
             pic1,
             pic2,
             pic3,
             password,
             lastLoginTime,
             tradePassword,
             oldPhone,
             level)
           VALUES (
        #{number},
        #{name},
        #{phone},
        #{areaId},
        #{sms},
        #{statusId},
        #{idCard},
        #{bankCard},
        #{alipayId},
        #{taobaoId},
        #{qq},
        #{writeTime},
        #{pic1},
        #{pic2},
        #{pic3},
        #{password},
        #{lastLoginTime},
        #{tradePassword},
        #{oldPhone},
        #{level})
    </insert>

    <update id="editUser" parameterType="UserInfo">
        update s_user
        <set>
            <if test="number != null and number != '' ">
                number=#{number},
            </if>
            <if test="phone != null and phone != '' and oldPhone != null and oldPhone != '' ">
                phone=#{phone},
            </if>
            <if test="areaId != null and areaId != '' ">
                areaId=#{areaId},
            </if>
            <if test="sms != null and sms != '' ">
                sms=#{sms},
            </if>
            <if test="statusId != null and statusId != '' ">
                statusId=#{statusId},
            </if>
            <if test="idCard != null and idCard != '' ">
                idCard=#{idCard},
            </if>
            <if test="bankCard != null and bankCard != '' ">
                bankCard=#{bankCard},
            </if>
            <if test="alipayId != null and alipayId != '' ">
                alipayId=#{alipayId},
            </if>
            <if test="taobaoId != null and taobaoId != '' ">
                taobaoId=#{taobaoId},
            </if>
            <if test="qq != null and qq != '' ">
                qq=#{qq},
            </if>
            <if test="editTime != null and editTime != '' ">
                editTime=#{editTime},
            </if>
            <if test="pic1 != null and pic1 != '' ">
                pic1=#{pic1},
            </if>
            <if test="pic2 != null and pic2 != '' ">
                pic2=#{pic2},
            </if>
            <if test="pic3 != null and pic3 != '' ">
                pic3=#{pic3},
            </if>
            <if test="password != null and password != '' ">
                password=#{password},
            </if>
            <if test="tradePassword != null and tradePassword != '' ">
                tradePassword=#{tradePassword},
            </if>
            <if test="oldPhone != null and oldPhone != '' ">
                oldPhone=#{oldPhone},
            </if>
        </set>
        where
        <choose>
            <when test="phone != null and phone != '' and oldPhone != null and oldPhone != '' ">
                  phone=#{oldPhone};
            </when>
            <otherwise>
                  phone=#{phone};
            </otherwise>
        </choose>

        <!-- 插入修改日志-->
        <if test="number != null and number != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'number','编号',#{number},#{editTime});
        </if>
        <if test="phone != null and phone != '' and oldPhone != null and oldPhone != '' ">
            insert into  s_user_log(uid,propName,propDesc,oldValue,newValue,writeTime)
            values(#{id},'phone','手机号',#{oldPhone},#{phone},#{editTime});
        </if>
        <if test="areaId != null and areaId != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'areaId','地区ID',#{areaId},#{editTime});
        </if>
        <if test="sms != null and sms != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'sms','短信验证码',#{sms},#{editTime});
        </if>
        <if test="statusId != null and statusId != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'statusId','状态ID',#{statusId},#{editTime});
        </if>
        <if test="idCard != null and idCard != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'idCard','身份证号',#{idCard},#{editTime});
        </if>
        <if test="bankCard != null and bankCard != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'bankCard','银行卡号',#{bankCard},#{editTime});
        </if>
        <if test="alipayId != null and alipayId != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'alipayId','支付宝帐号',#{alipayId},#{editTime});
        </if>
        <if test="taobaoId != null and taobaoId != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'taobaoId','淘宝帐号',#{taobaoId},#{editTime});
        </if>
        <if test="qq != null and qq != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'qq','QQ',#{qq},#{editTime});
        </if>
        <if test="pic1 != null and pic1 != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'pic1','身份证正面',#{pic1},#{editTime});
        </if>
        <if test="pic2 != null and pic2 != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'pic2','身份证反面',#{pic2},#{editTime});
        </if>
        <if test="pic3 != null and pic3 != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'pic3','手持身份证',#{pic3},#{editTime});
        </if>
        <if test="password != null and password != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'password','登录密码',#{password},#{editTime});
        </if>
        <if test="tradePassword != null and tradePassword != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'tradePassword','交易密码',#{tradePassword},#{editTime});
        </if>
        <if test="level != null and level != '' ">
            insert into  s_user_log(uid,propName,propDesc,newValue,writeTime)
            values(#{id},'level','用户级别',#{level},#{editTime});
        </if>
    </update>

    <update id="disableUser" parameterType="string">
        update  s_user set  statusId=4 where phone=#{phone}
    </update>

    <insert id="addRole" parameterType="UserInfo">
        INSERT INTO s_user_role (uid,rid)
        select id,#{roleId} from s_user where phone = #{phone}
    </insert>

</mapper>