<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>绑定店铺</title>
</head>
<body>
<div>
    <ul class="nav navbar-nav navbar-left" id="bjui-hnav-navbar">
        <li class="active">
            <a th:href="@{/showShops}" data-toggle="shoptab" data-id-key="targetid">已绑定店铺</a>
        </li>
        <li class="active">
            <a th:href="@{/bindShop}" data-toggle="shoptab" data-id-key="targetid">绑定新店铺</a>
        </li>
    </ul>
</div>

</body>
</html>